<div class="form" n:snippet="form">
    {if isset($emailSent)}
        <span class="info confirm">{$contact['form']['success']}</span>
    {else}
        {form contactForm id => 'contact-form', action => '/post'}
            <div class="col-5">
                {input name, class => 'form-control'}
                {input email, class => 'form-control'}
                {input phone, class => 'form-control'}
            </div>
            <div class="col-7">
                {*input msg class => 'hdn'*}
                {input message, class => 'form-control', rows => '7'}
            </div>
            <div class="form-actions">
                {input submit id => 'contact-form-submit', class => 'btn'}
            </div>
        {/form}
    {/if}
</div>

