.badge {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  width: 182px;
  height: 182px;
  overflow: hidden;
  img {
    position: absolute;
    left: 0;
  }
}

.sk .badge img {
  top: 0;
}

////////////////////////
.cs .badge img {
  top: -182px;
}

.de .badge img {
  top: -364px;
}

.en .badge img {
  top: -544px;
}
