.btn {
  @include border-radius(10px);
  @include transition(background-color .3s linear 0s);
  background-image: none;
  background-color: #3B3B3B;
  min-width: 150px;
  display: inline-block;
  color: $gray;
  text-decoration: none;
  padding: 15px;
  &:hover {
    background-color: $braun;
  }
}
