/* 
    Created on : May 12, 2014, 1:51:10 PM
    Author     : martin
*/


/* container width */
$lg-desktop:            1170px !default;
$md-desktop:            980px !default;
$sm-desktop:            100% !default;

$white:                 #fff !default;
$black:                 #000 !default;
$gray:                  #D7CAB9 !default;
$gray-light:            rgba(0,0,0,0.3) !default;
$braun:                 #463928 !default;

/* link colors */
$normal:                rgba(0,0,0,0.7) !default;
$hover:                 $black !default;
$active:                $black !default;
$visited:               $black !default;
$focus:                 $black !default;
$red:                   #ab0334 !default;

$paragraph:             #666 !default; 

/* helpoers */
%row {
    width: 100%;
    @include pie-clearfix();
}

%block-center {
    margin: 0 auto;
}
@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,700,300&subset=latin-ext);
$font-family-base:      'Signika Negative', sans-serif;

$font-size-base:        16px;
$bold:                  700;
$regular:               400;
$light:                 300;

$line-height-base:      20px;           

$prefix-col:            'col' !default;
$prefix-offset:         'offset' !default;