.footer {
  background-color: $paragraph;
  p {
    color: $white
  }
  a {
    text-decoration: none;
  }
  center {
    display: block;
    @include pie-clearfix();
  }
  img {
    max-width: 100%;
    @include filter(grayscale(50%) sepia(100%));
    opacity: 0.5;
  }
}

.black {
  color: $black;
}

.red {
  color: $red;
}

.gray {
  color: $gray;
}