form {
  padding-left: 11.5%;
  padding-right: 11.5%;
  .col-7, .col-5 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

input[type="submit"] {
  display: inline-block;
  border: none;
  float: right;
  margin-right: 9px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: $regular;
  font-family: $font-family-base;
}

.form-control {
  padding: 12px 14px;
  height: auto;
  font-size: 1rem;
  text-transform: uppercase;
  @include border-radius(10px);
  color: $paragraph;
  width: 100%;
  display: block;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: $white;
  background-image: none;
  border: 1px solid $paragraph;
  margin-bottom: 18px;
}

textarea {
  max-width: 100%;
}

.form {
  margin-bottom: 40px;
  @include pie-clearfix();
}