//.gall-flat
.gallery {
  margin-left: 0;
  .overflow {
    height: 216px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include filter(sepia(100%) grayscale(60%));
    filter: gray; /* IE6-9 */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    max-height: 100%;
  }
  a:hover img {
    @include filter(sepia(0%) grayscale(0%));
    filter: none;
  }
  .title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 9px;
    color: $gray;
    font-size: 18px;
    text-decoration: none;
  }
}

.flat {
  position: absolute;
  top: -8px;
  width: 100px;
  height: 24px;
  background: image-url('span.png') no-repeat scroll 0 0;
  z-index: 3;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.js-gallery {
  @include pie-clearfix();
  margin-bottom: 80px;
}

.gray-bg .js-gallery a {
  border-top: 1px solid $gray;
  border-right: 15px solid $gray;
  border-bottom: 15px solid $gray;
}

.js-gallery a {
  background-image: image-url('thumb-bcg.png');
  padding: 7px 7px 35px;
  border-top: 1px solid $white;
  border-right: 15px solid $white;
  border-bottom: 15px solid $white;
  position: relative;
  z-index: 0;
}