/* 
    Created on : May 12, 2014, 1:42:22 PM
    Author     : martin
*/
$susy: (
        columns:12,
        gutters: 0,
        math: fluid,
        output: float,
        gutter-position: inside,
);

@for $i from 1 to 12 {
  .#{$prefix-col}-#{$i} {
    @include span($i);
  }
}

.#{$prefix-offset}-3 {
  margin-left: span(3);
}