/* 
    Created on : May 12, 2014, 1:58:49 PM
    Author     : martin
*/

* {
  @include box-sizing();
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $paragraph;
}

section > h2,
section > h1,
.container {
  margin-left: auto;
  margin-right: auto;
  @include pie-clearfix();
  width: $md-desktop;
  @media screen and (max-width: $lg-desktop) {
    width: $md-desktop;
  }
  @media screen and (max-width: $md-desktop) {
    max-width: $sm-desktop;
  }
}

article {
  text-align: left;
}

footer,
section {
  padding: 40px;
  @include pie-clearfix();
}

.gray-bg {
  background-color: $gray;
}

.overflow {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.center {
  text-align: center;
  display: block;
}