/* 
    Created on : May 12, 2014, 1:12:36 PM
    Author     : martin
*/

.header {
  position: fixed;
  top: 10px;
  z-index: 1;
  left: 0;
  right: 0;
}

.menu {
  @extend %row;
  @include background-image(linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 100%));
  @include border-radius(45px);
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 5px 5px);
  height: 45px;
  line-height: 45px;
  position: relative;
  z-index: 9999;
  .brand {
    @include span(2 of 12);
    img {
      padding-left: 25px;
    }
  }
}

.menu-main {
  @include span(10 of 12);
  ul {
    float: right;
    list-style-type: none;
  }
  a {
    @include transition(color .3s ease 0s);
    display: block;
    padding: 0 15px;
    text-decoration: none;
    @include link-colors($normal, $hover);
    font-weight: $bold;
  }
  li {
    float: left;
    &:last-child > a {
      padding-right: 25px;
    }
  }
  .langs {
    position: relative;
    z-index: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  ul.js-sub {
    position: absolute;
    top: 45px;
    right: 17px;
    height: 40px;
    //width: 211px;
    width: 111px;
    background-color: $paragraph;
    @include filter-gradient(#000000, transparent, vertical);
    $experimental-support-for-svg: true !default;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.0) 20%, rgba(0, 0, 0, 0) 100%));

    @include box-shadow(rgba(0, 0, 0, 0.3) 0px 5px 5px);
    @include border-radius(0 0 10px 10px);
    li {
      color: $white;
      a {
        @include link-colors(darken($white, 20%), $white);
      }
      &.active a {
        color: $white;
      }
    }
  }
}