h1, h2 {
  line-height: 2.344rem; // ~37.5px
  font-weight: $bold;
  margin-bottom: 20px;
  text-align: left;
}

h1 {
  font-size: 1.9rem; // ~30px
  color: $black;
}

h2 {
  font-size: 1.6875rem; //~ 27px;
}

p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: $light;
}

strong {
  font-weight: $bold;
}

p, br {
  line-height: 1.34;
}

.ta-r {
  text-align: right;
}

article ul {
  padding-left: 20px;
  li {
    line-height: $line-height-base;
    list-style: circle;
  }
}