<section class="gray-bg about" id="about">
    <h2>{$about['header']}</h2>
    <div class="container" >
        {foreach $about['texts'] as $text}
            <p>{$text}</p>
        {/foreach}
    </div>
</section>