<section class="about gray-bg" id="bussiness">
    <h2>{$bussiness['header']}</h2>
    <div class="container">
        <p>{!$bussiness['text']}</p>
        <ul n:inner-foreach="$bussiness['lists'] as $item">
            <li>{$item}</li>
        </ul>
    </div>
</section>