<section id="contact" class="contact">
    <h2>{$contact['writeusheader']}</h2>
    <div n:snippet="contactForm" class="container">
        {control contactForm}
    </div>
    <p class="container">
        <span class="center">
            {$contact['adres']}
        </span>
    </p>
</section>