<section id="footprint" class="gallery">
    <h2>{$footprint['header']}</h2>
    <div class="container">
        <div class="js-gallery" id="gallery-2" n:inner-foreach="$footprint['objects'] as $object">
            <a n:class="$iterator->counter == 5 ? 'offset-3', 'col-3'" href="{$basePath}/img/gallery-2/{$object['href']}" title="{$object['title']}" data-gallery="#blueimp-gallery-gallery-2">
                <span class="overflow">
                    <img src="{$basePath}/img/gallery-2/{$object['href']}" alt="{$object['alttext']}" />
                </span>
                <span class="title">{$object['text']}</span>
                <span class="flat"></span>
            </a>
        </div>
        <p class="center"><a class="btn" href="{$basePath}/pdf/PODORYSY.pdf" title="...">{$footprint['download']}</a></p>
    </div>
</section>