<footer class="footer">
    <div class="container">
        <p class="col-6">&copy; {date('Y')} VILA MERKUR</p>
        <p class="col-6 ta-r"><a href="http://www.fatchilli.com"><span class="black">fat</span><span class="red">chilli</span><span class="gray">.com</span></a> - webdizajn a webové aplikácie</p>
        <p>
            <a href="http://seo-servis.cz/source-zdrojovy-kod/10653981" title="SEO Servis, optimalizace pro vyhledávače."><img src="http://seo-servis.cz/optimised.png" alt="Seo servis" /></a>
        </p>
    </div>
</footer>