<section id="gallery" class="gallery">
    <h2>{$gallery['header']}</h2>
    <div class="container">
        
        <div class="js-gallery" id="gallery-1" n:inner-foreach="$gallery['objects'] as $object">
            <a class="col-3" href="{$basePath}/img/gallery-1/{$object['href']}" title="{$object['title']}" data-gallery="#blueimp-gallery-gallery-1">
                <span class="overflow">
                    <img src="{$basePath}/img/gallery-1/thumbs/{$object['href']}" alt="{$object['alttext']}" />
                </span>
                <span class="flat"></span>
            </a>
        </div>
                
    </div>
</section>