<section class="page-home" id="home">
    <span class="center">
        <img src="{$basePath}/img/home.png" alt="Vila merkur Lazne Luhacovice" />
    </span>
    <h1 >{$home['header']}</h1>
    <div class="container">
        
        <p >{$home['perex']}</p>
        {foreach $home['texts'] as $text}
            <p>{!$text}</p>
        {/foreach}
        
    </div>
</section>