<section id="visualization" class="gray-bg gallery">
    <h2>{$visualization['header']}</h2>
    <div class="container">
        <div class="js-gallery" id="gallery-3" n:inner-foreach="$visualization['objects'] as $object">
            
            <a class="col-3" href="{$basePath}/img/gallery-3/{$object['href']}" title="{$object['title']}" data-gallery="#blueimp-gallery-gallery-3">
                <span class="overflow">
                    <img src="{$basePath}/img/gallery-3/{$object['href']}" alt="{$object['alttext']}" />
                </span>
                <span class="flat"></span>
            </a>
            
        </div>
    </div>
</section>