<!DOCTYPE html>
<html data-lang="{$lang}">
    <head>
        <title>{block title}{/}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index,follow,noodp">
        <meta name="description" content="{block description|truncate:151,''}{/}">
        <meta name="author" content="Martin Scheer">
        <meta name="keywords" content="{block keywords}{/}">
        <meta property="og:title" content="Vila MERKUR">
        <meta property="og:description" content="{$head['description']}">
        <meta property="og:url" content="http://www.vilamerkur.cz">
        <meta property="og:site_name" content="vilamerkur.cz">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.vilamerkur.cz/img/home.png">
        <meta name="google-site-verification" content="Z9UuIBOn58DcpqhNWjzOWI4hqNIl2AnqOc0DbMtKeQw" />
        <link rel="shortcut icon" href="{$basePath}/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="{$basePath}/favicon.png" type="image/x-icon">
        <link href="{$basePath}/css/screen.css" rel='stylesheet' type='text/css'>
        <link href="{$basePath}/css/blueimp-gallery.min.css" rel='stylesheet' type='text/css'>

    </head>
    <body class="{$lang}" id="top">

        {include _navigation.latte}
        
        {block content}{/block}

        
        {* BADGE *}
        <div class="badge">
            <img src="{$basePath}/img/badge.png" alt="{$head['alt']}"  />
        </div>
        {* GALERIA *}
        <div id="blueimp-gallery" class="blueimp-gallery print-off blueimp-gallery-controls" data-start-slideshow="false">
            <div class="slides"></div>
            <h3 class="title">&nbsp;</h3>
            <a class="prev"><span>‹</span></a>
            <a class="next"><span>›</span></a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
        <script src="{$basePath}/js/jquery-ui.js" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-2.0.3.min.map"></script> 
        <script src="{$basePath}/js/blueimp-gallery.min.js"></script>
        <script src="{$basePath}/js/web.min.js"></script>
        <script src="{$basePath}/js/app.pack.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){
                i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })
            (window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51877473-1', 'vilamerkur.cz');
            ga('send', 'pageview');

        </script>
    </body>
</html>
