<nav class="header" role="navigation">
    <div class="container">
        <div class="menu">
            <a id="home-link" class="brand js-scroll" href="#top"><img src="img/logo.png" alt="Vila Merkur"></a>
            <div class="menu-main">
                <ul class="js-nav">
                    <li n:foreach="$navigation['menu'] as $item">
                        <a href="{$item['href']}" class="js-scroll" title="{$item['title']}" >{$item['title']}</a>
                    </li>
                    <li class="langs">
                        <a href="#" data-toggle="dropdown" class="js-dropdown">
                            {if $lang == 'cs'}CZ{else}{$lang|upper}{/if}</a>
                        <ul class="js-sub" style="display: none;" data-dropdown="true">
                            <li n:class="$lang == 'sk' ? 'active'"><a class="js-target" href="/sk" title="Slovak" data-lang="sk">SK</a></li>
                            <li n:class="$lang == 'cz' ? 'active'"><a class="js-target" href="/cz" title="Česky" data-lang="cz">CZ</a></li>
                    {*
                            <li n:class="$lang == 'en' ? 'active'"><a class="js-target" href="/en" title="English" data-lang="en">EN</a></li>
                            <li n:class="$lang == 'de' ? 'active'"><a class="js-target" href="/de" title="Deutch" data-lang="de">DE</a></li>
                    *}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>